<%- include ('./hf/header') %>

      <div class="container">
          <br>
              <h1 style="text-align:center;">YCC-finder</h1>
          <form>
                <div class="form-group">
                    <input type="text" id="videoId" placeholder="videoId" class="form-control"/>
                      <br>
                        <button id="get_v_cmt" type="submit" class="btn btn-danger"> Get Video CMT</button>
                        <button id="get_kor_pc" type="submit" class="btn btn-danger"> Get Video Kor Percent </button>
                        <button id="get_best_glob" type="submit" class="btn btn-danger"> Get Best Global Video </button>

                          <!-- <button onclick="execute()" class="btn btn-danger">Display</button> -->
                </div>
          </form>
          <div id="results"></div>
      </div>

<%- include ('./hf/footer') %>
