<!DOCTYPE HTML>
<html lang="en">
<head>
  <title>Youtube comment comparator</title>
  <h1> YCC-finder </h1>
</head>
<body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <div>
